<p style="color: green"><%= notice %></p>

<!-- 生成された画像を表示 -->
<div>
  <% if @deco_name.image_path.present? %>
    <%= image_tag "/#{@deco_name.image_path}", alt: @deco_name.name %>
  <% else %>
    <p>No image available</p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this deco name", edit_deco_name_path(@deco_name) %> |
  <%= link_to "Back to deco names", deco_names_path %>

  <%= button_to "Destroy this deco name", @deco_name, method: :delete %>
</div>